/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  /***** Layout *****/

  .content-wrapper {
    width: 90%;
    margin: 0 auto;
  }

  body {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }

   header,
   footer {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-flow: column;
       background: #202322;
       color: white;
       padding-top: 1rem;
   }

   .header-divider {
     width: 100%;
     height: 1px;
     margin: 10px 0 20px 0;
   }

   header nav ul{
     list-style-type: none;
     padding: 0;
     margin: 0;
     display: flex;
     flex-flow: row;
     justify-content: space-around;
   }

.content-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 50px 0;
}

.footer-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}


.reviews .content-wrapper {
  align-items: flex-start;
}

.hero-area {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

aside .content-wrapper {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.form {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.features {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
}

.features-items {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;

}

.contact-section-wrapper {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.faq {
  display: flex;
  justify-content: center;
  padding: 2.5em 0;
}

.faq .content-wrapper {
  margin: 50px 0 0 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.faq h2 {
  margin-bottom: 40px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  padding: 0 1em;
}

/**** Properties ****/

header nav{
  width:60%;
}
 footer .content-wrapper{
  width: 90%;
  margin: 30px;
 }

.form {
  width: 100%;
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}

input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

.button:last-child {
  margin: 1rem 0 3rem;
}

.features article {
  margin: 30px 0;
  width: 70%;
  margin: 0;
}

.features p {
  padding-bottom: 2em;
}

.features-items p:last-child {
  margin-bottom: 4em;
}

.feature-image {
  margin-bottom: 3em;
}

/**** images ****/
.hero-area {
  height: 500px;
  background: url(../img/jake-melara-30679-unsplash.jpg) no-repeat center;
  background-size: cover;
  color: #e2e3ed;
  width: 100%
}

aside {
  background: #527158;
}

.features {
background: url(../img/rawpixel-800820-unsplash1.jpg) no-repeat center;
color: #e2e3ed;
background-size: cover;
}

.reviews-image {
  max-width: 100%;
  width: 100%;
  background-size: cover;
}

.reviews {
  background: #2a423a;
  color: white;
}

.mission {
  background: #527158;
}

.faq {
  background: #527158;
}

.faq .content-wrapper {
  margin: 0;
  padding: 50px 0;
}

.features-wrapper h2 {
  margin: 1.5em auto 3em;
}


.reviews {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

body p {
  font-size: 1rem;
}

main h1 {
  margin-top: 0;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

.reviews h3 {
  margin: 1rem 0 1.5rem;
}

.reviews p {
  margin: 0 0 3rem;
}

.contact-section {
  background: #2a423a;
}


.faq-content-info {
  padding-bottom: 2rem;
}

.mission .content-wrapper {
  margin: 0 auto;
  padding: 3em 0;
}

.contact-section-wrapper {
  align-items: center;
  margin: 0 auto;
  padding: 3em 0;
}

.map-container {
  position: relative;
  padding-bottom: 125%;
  height: 0;
  overflow: hidden;
  width: 100%;
}

.map-container iframe {

position: absolute;

top:0;

left: 0;

width: 100%;

height: 100%;

}

/* General Styles */
body {
       font-family: 'Open Sans', sans-serif;
       line-height: 1.125rem;
}

h1 {
  line-height: 3rem;
}

h2 {
     font-family: 'Poppins', sans-serif;
     line-height: 2rem;
}

h3,
h4 {
     font-family: 'Poppins', sans-serif;
}

a {
     color: #e2e3ed;
}

address {
  font-family: 'Open-Sans', sans-serif;
}


}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* Tablet Style */


.content-wrapper {
  max-width: 640px;
}

header {

  width: 100%;
}

header .content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  max-width: 640px;
}


header nav {
  justify-content: flex-end;
}

header nav ul{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

nav li {
  margin-left: 2em;
}

.hero-area .content-wrapper {
    width: 72%;
  }

main h1 {
  font-size: 2.5em;
}

aside .content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-description, .form{
  width: 45%;
}

.features .features-items {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

.features article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  flex-basis: 50%;
}

.reviews-info {
  width: 60%;
}

.features .features-item-description {
  width: 80%;
  margin: 0;
}

.features-items p:last-child {
  margin-bottom: 0;
}

.faq .content-wrapper {
  flex-flow: row wrap;
  justify-content: space-between;
}

.faq-content {
  width: 40%;
}

.faq h2 {
  width: 100%;
}

.footer-content {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 640px;
}

.social, .contact {
  width: 40%;
}

.copyright {
  text-align: center;
}

.mission-para {
  display: flex;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  width: 640px;
}

.reviews img, article h3 p {
  width: 49%;
}

.reviews-info {
  width: 90%;
}


.reviews p {
  margin: 0;
}

.reviews img {
  object-fit: contain;
  padding-right: 2em;
}

.reviews .image-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.reviews h3 {
  margin: 0;
}

.map-container {
  padding-bottom: 45%;
}

}

 @media only screen and (min-width: 1200px) {
  /** Desktop Style**/

.content-wrapper {
    width: 80%;
    max-width: 960px;
  }

header .content-wrapper {
    width: 70%;
    max-width: 960px;
}

.hero-area .content-wrapper {
  flex-flow: row;
  align-items: flex-start;
}

aside .content-wrapper {
  max-width: 960px;
  width: 70%;
  justify-content: space-around;
}

.form, .form-description {
  width: 27%;
}

.features article {
  flex-basis: 33%;
}

footer .footer-content {
    justify-content: space-around;
    width: 960px;
    max-width: 960px;
  }

  .map-container {
    padding-bottom: 38%;
  }
}




/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
